
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Payment Completed</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <!-- <link rel="stylesheet" type="text/css" href="css/newStyles.css"> -->
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-danger">
        <a class="navbar-brand" style="font-size: 30px;color: white">WELLS FARGO</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Accounts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Brokerage</a>
            </li>
            <li class="nav-item active" >
              <a class="nav-link" href="#">Transfer & Pay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success bg-white my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div style="margin-top: 100px;"></div>

   <main role="main" class="container mt-100">
       <div class="my-3 p-3 bg-white rounded box-shadow mt-100" >
            <h2>Confirmation</h2>
           <div style="margin-top:30px;margin-bottom: 30px;">
            <button type="button" style="float: left;" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
</svg>
              </button>
               <h4 style="margin-left:30px">&nbsp;&nbsp;&nbsp;Payment completed successfully</h4>
           </div>
           <br>
           <div>
                <div class="col-md-6 col-sm-12">
                    <div>
                        <label>From</label> <br>
                        <label><b>PREFERRED CHECKING ..0397</b></label>
                    </div>
                    <br>
                    <div>
                        <label>To</label> <br>
                        <label><b>PROPEL AMERICAN EXPRESS ..1506</b></label>
                    </div>

                    <br>
                    <div>
                        <label>Frequency</label> <br>
                        <label><b>Once</b></label>
                    </div>

                    <br>
                    <div>
                        <label>Amount</label> <br>
                        <label><b>$20.00</b></label>
                    </div>
                </div>
            </div>
       </div>
   </div>

   <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright
      <a class="text-dark" href="https://www.wellsfargo.com/">Wells Fargo</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>